
   
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.0/css/bootstrap-slider.min.css" />
        <section class="bg-bread">
            <div class="breadcrum1">
                <div class="container">
                    <div class="breadcrum">
                        <ul>
                            <li><a href="#"> Home > </a></li>
                            <li> <a href="#">Category ></a></li>
                            <li> Sub Category</li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center padding-adj2">
                        <div class=" text-center heading">
                            <h3>
                                    Explore Category
                                </h3>
                        </div>
                        <div class="owl-carousel owl-theme carousel4 icons1">
                           <% @subcategories.each do |subcat| %>
                            <div class="item">
                                <a href="#">
                                    <div class="img-back">
                                        <img src="/assets/img500.jpg">
                                    </div>
                                    <p><%= subcat.name %></p>
                                </a>
                            </div>
                            <% end %>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="divider1"></div>
        <section>
            <div class="container">
                <div class="row">
					
                    <div class="col-md-4 col-sm-4">
						<div class="text-center heading">
                                <h3>
												Filter Your Search
											</h3>
                            </div>
                        <div id="accordion" class="panel behclick-panel">
                            <!--<div class="panel-heading">
                                <h3 class="panel-title">Search Filter Car</h3>
                            </div>-->
                            <div class="panel-body">
								<div class="panel-heading">
									
                                    <h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse4"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> Category</a>
									</h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse in">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> Category Name
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> Category Name
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> Category Name
                                                </label>
                                            </div>
                                        </li>
										<li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> Category Name
                                                </label>
                                            </div>
                                        </li>
										<li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> Category Name
                                                </label>
                                            </div>
                                        </li>
										
                                    </ul>
                                </div>
								<div class="panel-heading">
                                    <h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse5"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> Sort By</a>
									</h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse in">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> Popular Items
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> Relevent
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> Price: Low - High
                                                </label>
                                            </div>
                                        </li>
										 <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> Price: High - Low
                                                </label>
                                            </div>
                                        </li>
										  <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> Latest Item
                                                </label>
                                            </div>
                                        </li>
										
										
                                    </ul>
                                </div>
								
                                <div class="panel-heading ">
                                    <h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse0">
											<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Price
										</a>
									</h4>
                                </div>
                                <div id="collapse0" class="panel-collapse collapse in">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> 0 - 1000 Rs
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> 1000 Rs - 2000 Rs
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> 2000 Rs - 6000 Rs
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> More Than 6000 Rs
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="panel-heading ">
                                    <h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse1">
								<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Brand
							</a>
						</h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> Brand name
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> Brand name
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> Brand name
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-heading">
                                    <h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse3"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> Color</a>
						</h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse in">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> red
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> blue
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value=""> green
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                                             
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <div class="row">
                            <div class="text-center heading">
                                <h3>
												Latest Arrivals
											</h3>
                            </div>
                            <div class="col-md-12">
                             <%= render "pro_listing" %>
                                

                            </div>
                        </div>
						<div class="row text-center">
							<ul class="pagination pagi_style">
                               <%= will_paginate @subcat_products %>
								<!-- <li class="disabled"><a href="#">«</a></li>
								<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">»</a></li> -->
							</ul>
						</div>
                    </div>
                </div>
            </div>
        </section>

        <div class="divider1"></div>
        