
	<section class="bg-bread">
		<div class="breadcrum1">
			<div class="container">
				<div class="breadcrum">
				   <ul>
					<li><a href="#"> Home > </a></li>
					<li> <a href="#">Product ></a></li>
					<li>Order Successful</a></li>
                    
				   </ul>
			   
			   </div>
			</div>
		</div>
   </section>
   <section>
    <div class="container">
        <div class="row">                        
             <div class="col-md-offset-4 col-md-4 text-center sucess_order">
				<img src="/assets/order-success.jpg" class="img-responsive">
				<p>Order Placed</p>
				<div class="line"></div>							
				<a href="index.html" class="btn btn-warning btn-warning1">Go For More Shopping</a>
				<!-- <a href="order.html" class="btn btn-warning btn-warning1">View Order Details</a> -->
				<%= link_to 'View Order Details', orders_path %>
			 
			 </div>
        </div>
    </div>
   </section>
   <div class="divider1"></div>
   
     <section class="section">
        <div class="container">
            <div class="row">
                <div class=" text-center heading">
                    <h3>
                        Popular Products
                    </h3>
                </div>
                <div class="owl-carousel owl-theme owl-1 carousel1">
                    <div class="item">
						<a href="#">
							<div class="img-back1">
								 <img class="img-responsive" src="img/img500.jpg">   
							</div>
							<h4>Product Name</h4>
						</a>                                                                   
                    </div>
					<div class="item">
						<a href="#">
							<div class="img-back1">
								 <img class="img-responsive" src="img/img500.jpg">   
							</div>
							<h4>Product Name</h4>
						</a>                                                                   
                    </div>
					<div class="item">
						<a href="#">
							<div class="img-back1">
								 <img class="img-responsive" src="img/img500.jpg">   
							</div>
							<h4>Product Name</h4>
						</a>                                                                   
                    </div>
					<div class="item">
						<a href="#">
							<div class="img-back1">
								 <img class="img-responsive" src="img/img500.jpg">   
							</div>
							<h4>Product Name</h4>
						</a>                                                                   
                    </div>
					<div class="item">
						<a href="#">
							<div class="img-back1">
								 <img class="img-responsive" src="img/img500.jpg">   
							</div>
							<h4>Product Name</h4>
						</a>                                                                   
                    </div>
					<div class="item">
						<a href="#">
							<div class="img-back1">
								 <img class="img-responsive" src="img/img500.jpg">   
							</div>
							<h4>Product Name</h4>
						</a>                                                                   
                    </div>
					<div class="item">
						<a href="#">
							<div class="img-back1">
								 <img class="img-responsive" src="img/img500.jpg">   
							</div>
							<h4>Product Name</h4>
						</a>                                                                   
                    </div>
					<div class="item">
						<a href="#">
							<div class="img-back1">
								 <img class="img-responsive" src="img/img500.jpg">   
							</div>
							<h4>Product Name</h4>
						</a>                                                                   
                    </div>
				</div>
            </div>
        </div>
    </section>
             
           
                
            
             
              
            
<script>
$(".form1").click(function(){
     $("#hide-form2").show();
        $("#hide-form1").hide();
        
    });

</script>