<div class="container-fluid">
<h1>Editing Color</h1>

<%= render 'form' %>

<%= link_to 'Show', @color ,{:class => "btn btn-primary"} %> |
<%= link_to 'Back', colors_path ,{:class => "btn btn-primary"} %>
</div>
