<footer>
                            <div class="footer-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-8 text-center">
                                             <div class="social-icons footer-style">
                                                <div class="footer-content1">
                                                    <p>Email us on helpdesk@mywebsite.com or call us at +91 1234567890 </p>
                                                </div>
                                                
                                                <ul>
                                                   
                                                    <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </div>
                                             <div class="footer-content1">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                                </div>
                                              <div class="footer-style1">
                                                    <ul>
                                                        <li><a href="#"> About Us</a> </li>
                                                        <li> <a href="#"> Products</a></li>
                                                        <li><a href="#"> Blog</a> </li>
                                                        <li><a href="#"> Contact Us</a> </li>
                                                        <li><a href="#"> Shipping & Delivery</a> </li>
                                                        <li><a href="#"> Terms of Use</a> </li>
                                                         
 
                                                       
                                                    </ul>
                                                </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                            <div class="footer-main">
                                <div class="container">
                                    <div class="row">
                                        
                                        <div class="col-md-12 text-center">
                                            All Right Reserve | Mycompanyname 2017
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                           </footer>